@import 'variables';

@mixin fluid-text($max: 48, $min: 16) {
	font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-link {
	color: inherit;

	&,
	&:hover {
		text-decoration: none;
	}
}

@mixin reset-button {
	padding: 0;
	background-color: transparent;
	border: none;
}

@mixin abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin nav-font {
	font-family: 'Nunito-Bold';
	font-size: 14px;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: var(--base-base-500);
}

@mixin text-with-stroke {
	font-family: var(--second-family);
	font-size: 40px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -0.04em;
	text-align: center;
	color: #433d50;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-text-stroke: 1px #000000;
}
