:root {
	--base-base-0: #ffffff;
	--base-base-100: #f2f3f5;
	--base-base-200: #d8dbe2;
	--base-base-250: #cccfd8;
	--base-base-300: #c3c7d1;
	--base-base-350: #878fa4;
	--base-base-400: #545b6e;
	--base-base-500: #3d4250;
	--base-base-600: #23262e;
	--base-base-700: #1a1c22;
	--base-base-800: #111317;
	--base-base-900: #09090b;

	--success-accent-200: #005f37;
	--success-accent-300: #007e49;
	--success-accent-400: #009e5b;
	--success-accent-500: #00bd6e;
	--success-accent-900: #ecf8f1;

	--accent-100: #00354c;
	--accent-200: #0084bd;
	--accent-300: #006997;
	--accent-400: #0084bd;
	--accent-500: #009ee3;
	--accent-600: #13b7ff;
	--accent-700: #42c6ff;
	--accent-800: #72d4ff;
	--accent-900: #a8ddf3;
	--accent-950: #d0f1ff;
	--accent-1000: #ecf6fa;

	--border-radius-small: 10px;

	--border-radius-medium: 16px;
	--border-radius-large: 24px;
	--border-radius-XLarge: 64px;
	--container-margin-bottom: 128px;

	--container-width: 1440px;
	--container-padding-x: 40px;
	--container-padding-y: 64px;
	--container-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

	--section-padding-y: 64px;

	--button-height-medium: 48px;
	--button-height-large: 60px;

	--transition-duration: 0.2s;

	--font-family: 'Nunito-Sans';
	--second-family: 'Nunito';
}
